<h1>Reset Password Instruction</h1>
<p>We have sent you a one-time password (OTP) to reset your password.</p>
<p><strong>Your OTP: <%= @otp %></strong></p>
<p>Use this OTP to reset your password.</p>
<p>If you did not request this, please ignore this message.</p>